@model IEnumerable<AppClienteMVCGMingenieros.Models.Comprobante>

@{
    ViewData["Title"] = "Lista de Comprobantes";
}

<h1 class="text-primary">Comprobantes</h1>
@if (TempData["mensaje"] != null)
{
    <div class="alert alert-success">
        @TempData["mensaje"]
       
    </div>
}

<p style="--bs-link-opacity: .5">Cantidad de Comprobantes: @ViewBag.cantidad</p>
<p style="--bs-link-opacity: .5">Suma de los Pagos: @Html.ViewBag.TotalPago</p>
<hr class="border border-primary border-3 opacity-75">
<p style="text-align: right;">
    <button type="button" class="btn btn-outline-primary">
        <a asp-action="CreateComprobante" class="text-black">Registrar nuevo Comprobante</a></button>
        <button type="button" class="btn btn-outline-warning">
    @Html.ActionLink("Regresar al Inicio", "Index", "Home", null, new { @class = "text-black" })</button
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Informacion
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                En el apartado F/B significa factura o boleta respectivamnete
                <br />
                En el aprtado  E/R significa emitido o recibido respectivamente

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
</p>



<table class="table-info table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Documento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ruc)
            </th>
            <th>
                Razon Social
            </th>
            <th>
                Descripcion
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moneda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                F/B
            </th>
            <th>
                E/R
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idcomprobante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numerodocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ruc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Razonsocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concepto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moneda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipodocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emitidorecibido)
            </td>
            <td>
                    @Html.ActionLink("Editar", "EditComprobantes", new { id = item.Idcomprobante }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.Idcomprobante   }) 
               
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @for (int i = 0; i < ViewBag.CANT_PAGINAS; i++)
    {
        @Html.ActionLink(
                (i + 1).ToString(),
                "IndexComprobantes",
                new { nro_pag = i },
                new { @class = "btn btn-outline-info" }
                )
        //@Html.Raw("&nbsp;")
        @:&nbsp;
    }
</div>

